*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(230, 245, 255);
}
#root{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section{
  width: 80%;
}

.title{
  padding: 70px 0;
  text-align: center;
  position: relative;
}

.title::after{
  content: '';
  position: absolute;
  height: 5px;
  width: 20%;
  background-color: blue;
  bottom: 55px;
  left: 40%;
  border-radius: 5px;
}

.review{
  border-radius: 5px;
  background-color:#fff;
  height: 500px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image{
  position: relative;
  background-color: red;
  margin: -60px 0 20px 0;
  border-radius: 50%;
  z-index: 0;
}
.image::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top:-3px;
  right: -7px;
  background-color: rgb(44, 108, 247);
  border-radius: 50%;
  z-index: 0;
}
.image img{
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  
}

.review h3{
  text-transform: capitalize;
}
.review h4{
  text-transform: uppercase;
  font-size: 12px;
  margin: 5px 0;
}
.review p{
  padding: 0 20px;
  color: #333;
}

.arrows{
  margin-top: 30px;
}
.btn{
  background-color: inherit;
  border: none;
  color: blue;
  margin: 10px;
  cursor: pointer;
}
.supriseMe{
  background-color: rgb(156, 156, 248);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}









@media(min-width: 600px) {
  .section{
    width: 50%
  }
}